@import "../bower_components/normalize-css/normalize.css";
@import "hml5bp_top";


html {
    height: 100%;
    width: 100%;
    background-color: #f8efe7;
    color: #bcb7b3;
}

body {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}

h1 {
    display: block;
    margin-bottom: 2.75em;
    padding-bottom: 51%;
    height: 0;
    background-image: url('../img/sass-color-converter.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.triangles {
    height: 100%;
    width: 100%;
    position: fixed;
}

.color-preview {
    height: 30px;
    width: 30px;
}

.row {
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.color-row {
    margin-left: 12%;
}

.color-row h2 {
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}

input {
    width: 100%;
    font-size: 3em;
    background: none;
    border: 0;
    border-bottom: 5px solid #bcb7b3;
    border-radius: 0;
    color: #a39f9b;
    margin-bottom: 25px;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}

input:focus{
    outline: none;
}

textarea {
    width: 100%;
    font-size: 0.8em;
    background: none;
    border: none;
    border-radius: 0;
    color: #bcb7b3;
    resize: none;
}

::selection {
    background: #333333;
    text-shadow: none;
}
::-moz-selection {
    background: #333333;
    text-shadow: none;
}

.sass-output{
    display: inline;
    font-size: 2em;
    word-wrap: break-word;
}

.dark {
    color: #a39f9b;
}

.color-form {
    position: absolute;
}

.output {
    margin-top: 30px;
}

::-webkit-input-placeholder {
    color: #bcb7b3;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}
:-moz-placeholder {
    color: #bcb7b3;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}
::-moz-placeholder {
    color: #bcb7b3;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}
:-ms-input-placeholder {
    color: #bcb7b3;
    font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
}

.left-side {
    top: 10%;
    width: 40%;
}

.upper h1{
    margin: 0.8em auto;
    padding-bottom: 12%;
    background-image: url('../img/sass-color-converter-upper.svg');
}

.upper .color-form {
    position: relative;
    width: 100%;
}

.upper .color-row {
    margin: 0 auto;
    width: 80%;
}

input {
    font-size: 2em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1460px) {
    .logo {
        margin-bottom: 4.5em;
    }
}

@media only screen and (max-width: 1135px) {
    .left-side {
        width: 44%;
    }
    .color-row {
        margin-left: 8%;
    }
    .logo {
        margin-bottom: 6em;
    }
}

/* Large Break Point ----------- */
@media only screen and (max-width : 1440px) {

}

/* Medium Break Point ----------- */
@media only screen and (max-width: 1280px) {
}

/* Small Break Point ----------- */
@media only screen and (max-width: 768px) {
    input {
        text-align: center;
    }
}

/* Smaller Break Point ----------- */
@media only screen and (max-width: 500px) {
    input {
        font-size: 1.2em;
        border-bottom: 3px solid #bcb7b3;
        width: 47%;
        float: left;
    }
    input:first-of-type {
        margin-right: 4%;
    }
    .sass-output {
        font-size: 1.2em;
    }
}

/* Smallest Break Point ----------- */
@media only screen and (max-width : 320px) {
    .sass-output,
    input {
        font-size: 1.2em;
    }
}

@import "hml5bp_bottom";
